
<h1>Tamagotchi</h1>

<div class="well">
 <form action="/tamagotchi" method="post">
   <label for="petName">Create your Tamagochi and give it a name: </label><br>
   <input id="petName" name="petName" type="test"><br><br>
   <button type="submit" class="btn btn-success">Create tamagotchi!</button>
 </form>
</div>
