<br>
<div class="well">
<h1>Places!</h1>

Places you have been:

<ul>
  #foreach ($place in $placesList)
  <li>$place.getDescription()</li>
  #end
</ul>

<p>
  Add a new city:
</p>

<form action="/places" method="post">
  <label for="description">Places you have been</label>
  <input id="description" name="description" type="text">

  <button type="submit" class="btn btn-default">Add places</button>
</form>

</div>
