<br>
<div class="well">

  <h1>Tamagotchi</h1>
  <br>

  <h2>Tamagotchi $myTamagotchi.getName() status:</h2>
  <br>
  <p>$myTamagotchi.getPetStatus()</p>
</div>

<br>

<h3>$message</h3>
<br>
  #if($myTamagotchi.isAlive())
    <h3>Your tamagotchi $myTamagotchi.getName() is still alive!</h3>
  #else
    <h3>Sorry, your tamagotchi is not alive... :(</h3>
  #end
<br>

<button type="button-group" class="btn btn-success"><a href="/tamagotchi">Back</a></button>
